/**
O arquivo font.scss é gerado automaticamente, 
caso queira adicionar algum código extra adicione no font.mustache.scss 
ou apague o font.mustache para editar ele livremente, porém 
ao fazer fazê-lo o @fontface não será gerado automaticamente
*/
    @mixin Chivo($size,$weight,$style){font-family: 'Chivo',Arial,Verdana,Sans-Serif;font-weight: $weight;font-style: $style;font-size: $size;}
    @mixin ZeitungMicroGC($size,$weight,$style){font-family: 'Zeitung Micro GC',Arial,Verdana,Sans-Serif;font-weight: $weight;font-style: $style;font-size: $size;}
    
    @mixin ChivoBlack($size){@include Chivo($size,900,normal);}
    @mixin ChivoBlackItalic($size){@include Chivo($size,900,italic);}
    @mixin ChivoBold($size){@include Chivo($size,700,normal);}
    @mixin ChivoBoldItalic($size){@include Chivo($size,700,italic);}
    @mixin ChivoItalic($size){@include Chivo($size,400,italic);}
    @mixin ChivoLight($size){@include Chivo($size,300,normal);}
    @mixin ChivoLightItalic($size){@include Chivo($size,300,italic);}
    @mixin ChivoRegular($size){@include Chivo($size,400,normal);}
    @mixin ZeitungMicroGCBlack($size){@include ZeitungMicroGC($size,900,normal);}
    @mixin ZeitungMicroGCBold($size){@include ZeitungMicroGC($size,700,normal);}
    @mixin ZeitungMicroGCExtralight($size){@include ZeitungMicroGC($size,200,normal);}
    @mixin ZeitungMicroGCRegular($size){@include ZeitungMicroGC($size,400,normal);}
    @mixin ZeitungMicroGCSemibold($size){@include ZeitungMicroGC($size,600,normal);}

    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Black'), 
                url('../font/Chivo-Black.woff2') format('woff2'),
                url('../font/Chivo-Black.woff') format('woff'),
                url('../font/Chivo-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Black Italic'), 
                url('../font/Chivo-BlackItalic.woff2') format('woff2'),
                url('../font/Chivo-BlackItalic.woff') format('woff'),
                url('../font/Chivo-BlackItalic.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Bold'), 
                url('../font/Chivo-Bold.woff2') format('woff2'),
                url('../font/Chivo-Bold.woff') format('woff'),
                url('../font/Chivo-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Bold Italic'), 
                url('../font/Chivo-BoldItalic.woff2') format('woff2'),
                url('../font/Chivo-BoldItalic.woff') format('woff'),
                url('../font/Chivo-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Italic'), 
                url('../font/Chivo-Italic.woff2') format('woff2'),
                url('../font/Chivo-Italic.woff') format('woff'),
                url('../font/Chivo-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Light'), 
                url('../font/Chivo-Light.woff2') format('woff2'),
                url('../font/Chivo-Light.woff') format('woff'),
                url('../font/Chivo-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Light Italic'), 
                url('../font/Chivo-LightItalic.woff2') format('woff2'),
                url('../font/Chivo-LightItalic.woff') format('woff'),
                url('../font/Chivo-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }
    @font-face {
        font-family: 'Chivo';
        font-display: block;        
        
        src: local('Chivo Regular'), 
                url('../font/Chivo-Regular.woff2') format('woff2'),
                url('../font/Chivo-Regular.woff') format('woff'),
                url('../font/Chivo-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Zeitung Micro GC';
        font-display: block;        
        
        src: local('Zeitung Micro GC Black'), 
                url('../font/ZeitungMicroGC-Black.woff2') format('woff2'),
                url('../font/ZeitungMicroGC-Black.woff') format('woff'),
                url('../font/ZeitungMicroGC-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: 'Zeitung Micro GC';
        font-display: block;        
        
        src: local('Zeitung Micro GC Bold'), 
                url('../font/ZeitungMicroGC-Bold.woff2') format('woff2'),
                url('../font/ZeitungMicroGC-Bold.woff') format('woff'),
                url('../font/ZeitungMicroGC-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Zeitung Micro GC';
        font-display: block;        
        
        src: local('Zeitung Micro GC Extralight'), 
                url('../font/ZeitungMicroGC-Extralight.woff2') format('woff2'),
                url('../font/ZeitungMicroGC-Extralight.woff') format('woff'),
                url('../font/ZeitungMicroGC-Extralight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'Zeitung Micro GC';
        font-display: block;        
        
        src: local('Zeitung Micro GC'), 
                url('../font/ZeitungMicroGC-Regular.woff2') format('woff2'),
                url('../font/ZeitungMicroGC-Regular.woff') format('woff'),
                url('../font/ZeitungMicroGC-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Zeitung Micro GC';
        font-display: block;        
        
        src: local('Zeitung Micro GC Semibold'), 
                url('../font/ZeitungMicroGC-Semibold.woff2') format('woff2'),
                url('../font/ZeitungMicroGC-Semibold.woff') format('woff'),
                url('../font/ZeitungMicroGC-Semibold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
