//$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
$easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote(($y / $x) * 100 + "%");
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}

@mixin padding($value: $value, $boxSizing: border-box) {
    padding: $value;
    box-sizing: $boxSizing;
}

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin inline-flex($justify: flex-start, $align: flex-start, $direction: row) {
    display: inline-flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin transition($time: 0.3s, $props: all, $ease: $easeOutQuad, $delay: 0s) {
    transition-duration: $time;
    transition-property: $props;
    transition-timing-function: $ease;
    transition-delay: $delay;
}

@mixin mobile {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin no-mobile {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin only-tablet {
    @media (min-width: 600px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin retina {
    @media (min-width: 2560px) {
        @content;
    }
}

@mixin x1600 {
    @media (max-width: 1600px) {
        @content;
    }
}

@mixin x1440 {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin x1380 {
    @media (max-width: 1380px) {
        @content;
    }
}

@mixin x1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin x1024 {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin x1023 {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin x900 {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin x768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin x650 {
    @media (max-width: 650px) {
        @content;
    }
}