/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, input, textarea, select, button {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;outline:0;-webkit-appearance: none;}
article, aside, figure, footer, header, hgroup, nav, section {display:block;}
ul {list-style:none;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s;
}
body,html{
    background: #f9f9f9;
    width: 100%;
    height: 100%;
}
*:focus {
    outline: none;
}
a{
    text-decoration: none;
    color: inherit;
}
figure{margin:0;}
img{
    -webkit-user-drag: none;
    width: 100%;
}
video{
    overflow: hidden;
    border: 0;
    display: block;
}
header,footer,section,figure,article,div,span,li,p,h1,h2,h3,h4,h5,h6{
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    font-weight: inherit;
}